body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #eee !important;
}

a {
  color: #00B7FF;
}

form{
  background: #fff;
  padding: 20px;
}

table{
  margin-top: 50px;
}

.formTasks{
  margin-top: 20px;
}

.acoesTasks{
  width: 250px;
}

.containerTasks{
  margin-top: 10px;
  background: #fff;
}

.formT {
  padding: 0 !important;
  float: left;
  margin-right: 4px;
}